@using System.ComponentModel.DataAnnotations
@using Graphene.Front.Client.Components.Validators

<div class="input-group-wrapper">
    <InputRadioGroup Name="Civility" TValue="int" @bind-Value="Model.Civility"  >
        <div class="input-group inline">
            <InputRadio Value="@((Gender.Female).Value)" Name="Civility" id="@($"{nameof(Model.Civility)}_Mme")"   />
            <label for="@($"{nameof(Model.Civility)}_Mme")">Madame</label>
        </div>
        <div class="input-group inline">
            <InputRadio Value="@((Gender.Male).Value)" Name="Civility" id="@($"{nameof(Model.Civility)}_M")" />
            <label for="@($"{nameof(Model.Civility)}_M")">Monsieur</label>
        </div>
    </InputRadioGroup>
    <AddressValidationMessage For="()=>Model.Civility" Class="validation-message" />
</div>
<div class="input-group-wrapper">
    <div class="input-group">
        <InputText name="FirstName" class="border-bottom-dark" required="true" @bind-Value="Model.FirstName" />
        <label for="FirstName">Prénom @(Model.IsRequired("FirstName")?" *":string.Empty)</label>
        <AddressValidationMessage For="()=>Model.FirstName" Class="validation-message" />
    </div>
    <div class="input-group">
        <InputText name="LastName" class="border-bottom-dark" required="true" @bind-Value="Model.LastName" />
        <label for="LastName">Nom de famille @(Model.IsRequired("LastName")?" *":string.Empty)</label>
        <AddressValidationMessage For="()=>Model.LastName" Class="validation-message" />
    </div>
</div>
<div class="input-group">
    <InputText name="Email" class="border-bottom-dark" required="true" @bind-Value="Model.Email" />
    <label for="Email">Email @(Model.IsRequired("Email")?" *":string.Empty)</label>
    <AddressValidationMessage For="()=>Model.Email" Class="validation-message" />
</div>
<div class="input-group">
    <InputText name="MobileNumber" class="border-bottom-dark" required="true" @bind-Value="Model.MobileNumber" />
    <label for="MobileNumber">N° de mobile @(Model.IsRequired("MobileNumber")?" *":string.Empty)</label>
    <AddressValidationMessage For="()=>Model.MobileNumber" Class="validation-message" />
</div>
@* TODO: Mettre le pays*@
<div class="input-group">
    <InputText name="Line0" class="border-bottom-dark" required="true" @bind-Value="Model.Line0" />
    <label for="Line0">Etage, couloir, escalier, appartement ... @(Model.IsRequired("Line0")?" *":string.Empty)</label>
      <AddressValidationMessage For="()=>Model.Line0" Class="validation-message" />
</div>
<div class="input-group">
    <InputText name="Line1" class="border-bottom-dark" required="true" @bind-Value="Model.Line1" />
    <label for="Line1">Entrée, batiment, immeuble, résidence ... @(Model.IsRequired("Line1")?" *":string.Empty)</label>
      <AddressValidationMessage For="()=>Model.Line1" Class="validation-message" />
</div>
<div class="input-group">
    <InputText name="Line2" class="border-bottom-dark" required="true" @bind-Value="Model.Line2" />
    <label for="Line2">Numéro et libellé de voie @(Model.IsRequired("Line2")?" *":string.Empty)</label>
      <AddressValidationMessage For="()=>Model.Line2" Class="validation-message" />
</div>
<div class="input-group">
    <InputText name="Line3" class="border-bottom-dark" required="true" @bind-Value="Model.Line3" />
    <label for="Line3">Lieu-dit ou autre mention @(Model.IsRequired("Line3")?" *":string.Empty)</label>
      <AddressValidationMessage For="()=>Model.Line3" Class="validation-message" />
</div>
<div class="input-group-wrapper">
    <div class="input-group">
        <InputText name="ZipCode" class="border-bottom-dark" required="true" @bind-Value="Model.ZipCode" />
        <label for="ZipCode">Code postal @(Model.IsRequired("ZipCode")?" *":string.Empty)</label>
        <AddressValidationMessage For="()=>Model.ZipCode" Class="validation-message" />
    </div>
    <div class="input-group">
        <InputText name="City" class="border-bottom-dark" required="true" @bind-Value="Model.City" />
        <label for="City">Ville @(Model.IsRequired("City")?" *":string.Empty)</label>
        <AddressValidationMessage For="()=>Model.City" Class="validation-message" />

    </div>
</div>
@*
    TODO: Ajouter code porte t interphone pour le livreur
    <div class="input-group">
    <InputText name="" class="border-bottom-dark" required="true" @bind-Value="ShippingInformations.DeliveryAddress.DoorCode1" />
    <label for="City">Ville @(ShippingInformations.DeliveryAddress.IsRequired("City")?" *":string.Empty)</label>
    </div>
    <div class="input-group">
    <InputText name="" class="border-bottom-dark" required="true" @bind-Value="ShippingInformations.DeliveryAddress.DoorCode2" />
    </div>
    <div class="input-group">
    <InputText name="" class="border-bottom-dark" required="true" @bind-Value="ShippingInformations.DeliveryAddress.Intercom" />
    </div>
*@
@*<div class="input-group">
    <InputCheckbox id="@nameof(ShippingInformations.UseDeliveryAsBillingAddress)" @bind-Value="ShippingInformations.UseDeliveryAsBillingAddress" />
    <label for="@nameof(ShippingInformations.UseDeliveryAsBillingAddress)">Utiliser l'adresse de livraison comme adresse de facturation</label>
    </div>*@


@code {
    [Parameter] public Address Model { get; set; }
}
